﻿@using System.Security.Claims
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Pc-Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OrderManagementApp.styles.css" asp-append-version="true" />
    @*clientside validation jquery library*@
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Product" asp-action="Index">PC-Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" asp-area="" asp-controller="Product" asp-action="Index">Home</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white text-capitalize" href="#">Contact</a>
                        </li>
                        
                        @*check if the user is signed in and if the user is in the admin's' role
                            and display a dropdown button that will navigate to Admins/GetAllRoles and Admin/ListUser
                        *@
                        @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                 <a class="btn btn-outline-secondary dropdown-toggle text-white" href="#" role="button" 
                                 id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Management
                                 </a>                                 
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-controller="Admins" asp-action="GetAllRoles">Roles</a></li>
                                    <li><a class="dropdown-item" asp-controller="Admins" asp-action="ListUsers">Users</a></li>
                                     <li><a class="dropdown-item" asp-controller="Product" asp-action="Add">Add Product</a></li>
                                    <li><a class="dropdown-item" asp-controller="OrdersDetail" asp-action="Orders">Orders</a></li>
                                  </ul>
                            </li>

                            
                        }
                    </ul>
                    @*check if the user is signed in or not and display a certain nav link*@
                    <ul class="navbar-nav ml-auto">
                        @if(signInManager.IsSignedIn(User))
                        {

                            <li class="dropdown">
                                <a class="btn btn-outline-secondary dropdown-toggle my-2 my-sm-0 text-white m-1" style="width:auto" href="#" role="button" 
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                
                                    @{
                                        ApplicationUser user = await userManager.GetUserAsync(User);
                                        string name = user.FullName;
                                    }
                                    
                                       <span style="font-weight: 500"><img src="~/ProfilePhotos/@user.ProfilePhoto" class="img-fluid rounded-circle" alt="Profile Photo" width="30" asp-append-version="true">
                                           <span>&nbsp;</span>
                                           @if(User.IsInRole("Admin"))
                                    {
                                        <span style="font-weight: 900">&nbsp;@name &nbsp;Adminstrator</span>
                                    }
                                    else
                                    {
                                        <span style="font-weight: 900">@name</span>
                                    }</span>
                                    
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="AccountDetail">My Account</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="EditAccount">Edit Account</a></li>
                                    <li><a class="dropdown-item" asp-controller="OrdersDetail" asp-action="Index" asp-route-id="@user.Id">My Cart</a></li>
                                    <li class="nav-item">
                                        <form method="post" asp-action="Logout" asp-controller="Account">
                                           
                                             <button type="submit" class="dropdown-item text-danger">SignOut</button> 
                                           
                                        </form>
                                     </li>
                                </ul>
                            </li>
                            
                        }
                        else
                        {
                            <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="account" asp-action="Login">
                                <i class="bi bi-box-arrow-in-right"></i> Log in
                            </a>
                            <span style="padding: 5px;"></span>

                            <a class="btn btn-outline-info my-2 my-sm-0" asp-controller="Account" asp-action="Register">
                                <i class="bi bi-person-plus"></i>+ Register
                            </a>
                            
                           
                        }
                        
                        @*<li class="nav-item"> 
                            <div>
                                <button class="butn btn-dark m-2" onclick="darkMode()">Dark/light</button>
                            </div>
                        </li>*@
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2022 - Shoppify
        </div>
    </footer>
    <script>
      function darkMode() {
        var element = document.body;
        element.classList.toggle("dark-mode");
      }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
