﻿@model Product
@{
    ViewData["Title"] = "Add";
}

<div class="d-flex justify-content-center">
    <h1>Add a Product</h1>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">

        <form method="post" asp-action="Add" enctype="multipart/form-data" class="m-3 p-3">
            <div class="form-group row m-2">
                <label asp-for="Id" class="col-form-label"></label>
       
                    <input asp-for="Id" disabled class="form-control p-2 m-2">
      
            </div>
            <div class="form-group row m-2">
                <label asp-for="ProductName" class="col-form-label"></label>
        
                    <input asp-for="ProductName" class="form-control p-2 m-2">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
      
            </div>
            <div class="form-group row m-2">
                <label asp-for="Description" class="col-form-label"></label>
        
                    <textarea asp-for="Description" class="form-control p-2 m-2" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
        
            </div>
    
            <div class="form-group row m-2">
                <label asp-for="Price" class="col-form-label"></label>
       
                    <input asp-for="Price" class="form-control m-2 p-2">
                    <span asp-validation-for="Price" class="text-danger"></span>
        
            </div>
             <div class="form-group m-2">
                        <label asp-for="Image" class="col-form-label"></label>
                        <input asp-for="ImageUpload" class="form-control m-2 p-2" />
                
                    </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success p-2 m-2">Add</button>
                    <a asp-action="Index" class="btn btn-warning p-2 m-2">Cancel</a>
                </div>
            </div>
        </form>
</div>
</div>
</div>
</div>