﻿@model Product
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

 <form asp-action="Delete" method="post" asp-route-id="@Model.Id">
       
       <span id="confirmDeleteSpan_@Model.Id" style="display:none">
       <span>Are you sure you want to delete?</span>
       <button type="submit" class="btn btn-danger">Yes</button>
       <a style="color: white; cursor: pointer;" class="btn btn-primary"
                        onclick="confirmDelete('@Model.Id', false)">No</a>
       </span>

       <span id="deleteSpan_@Model.Id">
            <a style="color: white; cursor: pointer;" class="btn btn-danger"
                            onclick="confirmDelete('@Model.Id', true)">Delete</a>
       </span>

</form>
@section Scripts{
    <script src="~/js/site.js"></script>
}
