﻿@inject SignInManager<ApplicationUser> signInManager

@model Product
@{
    ViewData["Title"] = "Details";
}

<div>

         <div class="col-6 mt-3">
            <div class="Pimage">
                
            <img src="~/img/@Model.Image" class="img-fluid" alt="image of @Model.ProductName" width="400"/>
         
        
            </div>
           
            <h4 class="">@Model.ProductName</h4>
           
            <div>
               
                   @Model.Description
                
            </div>
            <p>@Model.Price.ToString("C2")</p>
        </div>
        @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
        <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success Pimage">Edit</a>
    }
    else
    {
        <a asp-controller="OrdersDetail" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-success Pimage">Order</a>
    }
    
        <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>   
         

       
</div>
        