﻿@inject SignInManager<ApplicationUser> signInManager
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}


@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
 {
     <a asp-controller="Product" asp-action="Add" class="btn btn-primary mt-4">Add Product</a>
     <h3>Admin Area</h3>
    @foreach (var item in Model)
    {
        
        <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>

                <img src="~/img/@item.Image" class="img-fluid img-thumbnail" alt="Product" width="200" asp-append-version="true">
          
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Price.ToString("C2")</p>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <form asp-action="Delete" method="post" asp-route-id="@item.Id" style="display: inline">
                                    
                        
                        <span id="confirmDeleteSpan_@item.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a style="color: white; cursor: pointer;" class="btn btn-primary"
                            onclick="confirmDelete('@item.Id', false)">No</a>
                        </span>

                        <span id="deleteSpan_@item.Id">
                            <a style="color: white; cursor: pointer;" class="btn btn-danger"
                                onclick="confirmDelete('@item.Id', true)">Delete</a>
                        </span>

                    </form>
                </div>
                </div>
        </div>
           
    }
}
else
{
    <h1 class="display-4 pb-5 text-center text-bg-light">Pc Store</h1>
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="Pimage">
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
            <img src="~/img/@item.Image" class="img-fluid" alt="image of @item.ProductName" />
                </a>
            </div>
           
            <h4 class="">@item.ProductName</h4>
           
            <div>
               
                   @item.Description
                
            </div>
            <p>@item.Price.ToString("C2")</p>
            <div class="text-center">
                 @*<a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" class="btn btn-success Pimage">Add to Cart</a>*@
                 <a asp-controller="OrdersDetail" asp-action="Add" asp-route-id="@item.Id" class="btn btn-success Pimage">Order</a>
            </div>
        </div>
    }
    </div>
}

 




@section Scripts{
    <script src="~/js/site.js"></script>
}

