﻿@model Orders

@{
    double Grand_Total = 0;
}
<table class="table">
    <tr>
        <th>Order ID</th>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Order Date</th>
        <th>Order Detail</th>
        <th>Total Price</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.ApplicationUser.Id</td>
        <td>@Model.ApplicationUser.FullName</td>
        <td>@Model.OrderDate</td>    
        <td>
          
            @for (var i = 0; i < Model.OrdersDetails.Count; i++)
            {
                <td> @Model.OrdersDetails[i].ProductId</td>
                <td> @Model.OrdersDetails[i].Quantity</td>
                <td> @Model.OrdersDetails[i].Total.ToString("C2")</td>

                Grand_Total += Model.OrdersDetails[i].Total;
            }
         </td>
        <td>@Grand_Total</td>
       
    </tr>
</table>