html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.butn {
    border-radius: 5px;
    border-width: 0;
}
.dark-mode {
    background-color: black;
    color: white;
}
.Pimage:hover{
    transform: scale(1.02)
}
/*.avatar{
    border-radius: 
}*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    // remove the gap so it doesn't close
}