﻿@model OrderManagementApp.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.CartItems.Count > 0)
{
    <h3 class="text-center m-5">Your Cart</h3>
    <table class="table">
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td><img src="~/img/@item.Image" class="img-fluid" alt="image of @item.ProductName" width="200"/></td>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("C2")</td>
                <td>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
                 <td>
                    <a asp-action="Add" asp-route-Id="@item.ProductId" class="btn btn-sm btn-success">+</a>
                    <a asp-action="Decrease" asp-route-Id="@item.ProductId" class="btn btn-sm btn-warning">-</a>
                    <a asp-action="Remove" asp-route-Id="@item.ProductId" class="btn btn-sm btn-danger">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td  class="text-right" colspan="4">Grand Total: @Model.GrandTotal.ToString("C2")</td>
        </tr>
        <tr>
            <td  class="text-right" colspan="4">
                <a asp-action="Clear" class="btn btn-danger">Clear Cart</a>
                @*<a href="#" class="btn btn-outline-success">Checkout</a>*@
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Add More Item</a>
            </td>
        </tr>

    </table>
}
else {
    <h3>Your Cart Is Empty</h3>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Add Item</a>
}
