﻿@model OrderManagementApp.ViewModels.CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
}

<h1>Create New Role</h1>
<div class="row">
    <div class="col-md-6">
        <form method="post">
             <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
             </div>
            <div class="m-1">
                <button type="submit" class="btn btn-primary">Create Role</button>
            </div>
            
        </form>
    </div>
</div>

