﻿@model OrderManagementApp.ViewModels.EditRoleViewModel
@{
    ViewData["Title"] = "EditRole";
}

<h1>Edit Role</h1>

<form method="post" asp-controller="Admins" asp-action="EditRole" class="mt-3">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control">
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-outline-primary">Update</button>
            <a class="btn btn-outline-danger">Cancel</a>
        </div>
     </div>
     <div class="card">
         <div class="card-header">
             <h3>Users In @Model.RoleName Role</h3>
         </div>
         <div class="card-body">
            @if(Model.Userz.Any())
            {
                foreach(var user in Model.Userz)
                {
                    <h5 class="card-title">@user</h5>
                }
            }
            else
            {
                <h5 class="card-title">No Users in @Model.RoleName Role</h5>
            }
        </div>
         <div class="card-footer">
             <a asp-controller="Admins" asp-action="EditUsersInRole" 
             asp-route-roleId="@Model.Id" class="btn btn-outline-info">Add/Remove Users From @Model.RoleName Role</a>
             
         </div>

     </div>
</form>