﻿@model List<OrderManagementApp.ViewModels.UserRoleViewModel> 
@{
    ViewData["Title"] = "EditUsersInRole";
}

@{
    var roleId = ViewBag.roleId;
    var roleName = ViewData["roleName"];
}

<h1>Edit Users In Role</h1>

<form method="post" asp-action="EditUsersInRole">
    <div class="card">  
    <div class="card-header">
        <h3>Add or Remove Users from @roleName Role</h3>
    </div>
    <div class="card-body">
        @for(int i = 0; i < Model.Count; i++)
        {
            <div class="form-check m-1">
                <input type="hidden" asp-for="@roleId">
                <input type="hidden" asp-for="@Model[i].UserId">
                <input type="hidden" asp-for="@Model[i].UserName" />
                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                <label asp-for="@Model[i].IsSelected" class="form-check-label">
                    @Model[i].UserName
                </label>
            </div>
        }
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-success" type="submit">Update</button>
        <a class="btn btn-outline-danger" asp-controller="Admins" asp-action="EditRole" asp-route-id="@roleId">Cancel</a>
    </div>
</div>
</form>
