﻿@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "GetAllRoles";
}

<h1>List of Roles</h1>
@if(Model.Any())
{
       <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="admins">Add new role</a>
    @foreach(var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" method="post" asp-route-id="@role.Id">
                    <a asp-controller="Admins" asp-action="EditRole" asp-route-id="@role.Id"
                    class="btn btn-primary">Edit</a>
                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                    <span>Are you sure you want to delete?</span>
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a style="color: white; cursor: pointer;" class="btn btn-primary"
                        onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a style="color: white; cursor: pointer;" class="btn btn-danger"
                            onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>

                </form>
                
                
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="admins" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}
@section Scripts{
    <script src="~/js/site.js"></script>
}