﻿@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "ListUsers";
}

<h1>Registered Users</h1>

@if (Model.Any())
{
    <a asp-controller="Account" asp-action="Register"
    class="btn btn-primary mb-3">Add new user</a>

    @foreach(var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a asp-controller="Admins" asp-action="EditUser" 
                        asp-route-id="@user.Id" class="btn btn-danger">Edit</a>
                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                    <span>Are you sure you want to delete?</span>
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a style="color: white; cursor: pointer;" class="btn btn-primary"
                        onclick="confirmDelete('@user.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@user.Id">
                        <a style="color: white; cursor: pointer;" class="btn btn-danger"
                            onclick="confirmDelete('@user.Id', true)">Delete</a>
                    </span>
                </form>
                
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Account" asp-action="Register">
                Add new user
            </a>
        </div>
    </div>
}
@section Scripts{
    <script src="~/js/site.js"></script>
}