﻿@model OrderManagementApp.ViewModels.UserClaimsViewModel
@{
    ViewData["Title"] = "ManageUserClaims";
}

<form method="post">
     <div class="card">
                <div class="card-header">
                    <h2>Manage User Claims</h2>
                </div>
                <div class="card-body">
                    @for(int i = 0; i < Model.Claims.Count; i++)
                    {
                        <div class="form-check m-1">
                             <input type="hidden" asp-for="@Model.Claims[i].ClaimType">
                             <input type="checkbox" asp-for="@Model.Claims[i].IsSelected" class="form-check-input">
                             <label asp-for="@Model.Claims[i].IsSelected" class="form-check-label">
                                @Model.Claims[i].ClaimType
                             </label>
                        </div>
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="card-footer">
                    <button type="submit">Update</button>
                    <a action="EditUser" asp-route-id="@Model.UserId"></a>
                </div>
      </div>
     
</form>

