﻿@model List<OrderManagementApp.ViewModels.UserRolesManagerViewModel>
@{
    ViewData["Title"] = "UserRolesManager";
}
@{
    var userId = ViewData["UserId"];
}
<h1>User Roles Manager</h1>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or Remove User from roles</h2>
        </div>
        <div class="card-body">
             @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <span asp-validation-summary="All" class="text-danger"></span>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-outline-primary">Update</button>
            <a asp-action="EditUser" asp-route-id="@userId" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</form>

