﻿@model IEnumerable<OrdersDetail>

@{
    double grandTotal = 0;
  
}

    @if (@Model.Any())
{
    <h2 class="text-center text-bg-success mt-2">Your Orders</h2>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>SubTotal</th>
            <th>VAT</th>
            <th>Tax Amout</th>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               
                <td><img src="~/img/@item.Product.Image" class="img-fluid" alt="image" width="150"/><br />@item.Product.ProductName</td>
                <td>@item.UnitPrice.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@item.SubTotal.ToString("C")</td>
                <td>@item.VAT</td>
                <td>@item.TaxAmount.ToString("C2")</td>
                <td>@item.Total.ToString("C2")</td>
                <td><a asp-action="Add" asp-route-id="@item.ProductId" class="btn btn-sm btn-success">+</a></td>
                <td><a asp-action="Decrease" asp-route-id="@item.Id" class="btn btn-sm btn-warning">-</a></td>
            </tr>
            grandTotal += @item.Total;
        }


    </table>
    <h6 >Grand Total: @grandTotal.ToString("C2")</h6>


@*<a class="btn btn-primary" asp-controller="Orders" asp-action="Add">Purchase</a>
*@<a class="btn btn-primary" asp-controller="" asp-action="Index">Back</a>
<a class="btn btn-danger" asp-action="RemoveAll">Remove Orders</a>
}
else{
    <h2 class="text-center text-bg-info mt-5">Your Cart Is Empty ☹️</h2>
    <a class="btn btn-info text-center" asp-controller="Product" asp-action="Index">Go To Products</a>
}



 