﻿@model IEnumerable<OrdersDetail>
@inject SignInManager<ApplicationUser> signInManager

@{
    double grandTotal = 0;
  
}
@if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    @if (@Model.Any())
{
    <h2 class="text-center text-bg-success mt-2">Orders</h2>
    <table class="table">
        <tr>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Date</th>
            <th>Product</th>
            <th>Product Id</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>SubTotal</th>
            <th>VAT</th>
            <th>Tax Amout</th>
            <th>Total</th>
           
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               
                <td>@item.ApplicationUser.UserName</td>
                <td>@item.ApplicationUser.PhoneNumber</td>
                <td>@item.ApplicationUser.City</td>
                <td>@item.OrderDate</td>
                <td>@item.Product.ProductName</td>
                <td>@item.ProductId</td>
                
                <td>@item.UnitPrice.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@item.SubTotal.ToString("C")</td>
                <td>@item.VAT</td>
                <td>@item.TaxAmount.ToString("C2")</td>
                <td>@item.Total.ToString("C2")</td>
       
            </tr>
            grandTotal += @item.Total;
        }


    </table>
    @*<h6 >Grand Total: @grandTotal.ToString("C2")</h6>*@



<a class="btn btn-primary" asp-controller="" asp-action="Index">Back</a>
<a class="btn btn-danger" asp-action="RemoveAll">Remove Orders</a>
}
else{
    <h2 class="text-center text-bg-info mt-5">Empty Order</h2>
   
}

}

 