﻿@model EditAppUserViewModel
@{
    ViewData["Title"] = "My Account";
}
<div class="d-flex justify-content-center mt-5">
    <h1>My Account</h1>
</div>


<div class="row d-flex justify-content-center">
    
    <div class="col-md-7">
        <div class="justify-content-center">
            <div class="justify-content-center">
                <img src="~/ProfilePhotos/@Model.ProfilePhoto" class="img-fluid mx-auto d-block rounded-circle" alt="Profile Photo" width="150" asp-append-version="true">
            </div>
            <div class="row d-flex justify-content-center">
                <h6 class="text-center">@Model.FullName</h6>
                <h6 class="text-center">@Model.UserName</h6>
            </div>
            <div class="row d-flex justify-content-center">
                <a class="btn btn-primary m-2 p-1 align-content-center" asp-action="EditAccount">Edit Your Profile</a>
            </div>
    </div>
    </div>
    </div>
</div>

