﻿@model OrderManagementApp.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<div class="d-flex justify-content-center mt-5">
        <p>
            <h4>Log in to your account</h4>
        </p>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <p>Dont Have Account?</p>
             <a asp-controller="Account" asp-action="Register" class="btn btn-outline-light">SignUp</a>
        </form>
    </div>
   </div>
   </div>
</div>
