﻿@model OrderManagementApp.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center mt-5">
    <h1>Register</h1>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-control">
                <label class="header">Profile Photo:</label>
                
                <input asp-for="ImageUpload" placeholder="Photo" capture>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
             </div>
             <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    </div>
    </div>
</div>

